// Width Size
$large: 1400;
$medium: 768;
$small: 350;
$tiny: 320;

// Color
$black: #001324;
$deepBlue: #072f4e;
$gray: #58636b;
$grayBlue: #8b9eab;
$green: #6bb934;
$magenta: #e62e8b;
$lightBlue: #58a0d7;
$lightGray: #f8f8f8;
$lightGray02: #f7f7f7;
$orange: #ffcb00;
$white: #fff;
$red: #ff0000;
